<br>about various books!</p>
<%= link_to "log in", new_user_session_path, class:"btn btn-info col-xs-10 col-xs-offset-1 bottons "%>
<%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success col-xs-10 col-xs-offset-1 "%>